.title-container {
  color: white;
  padding: 30px;
}

.title-container p {
  font-weight: 300;
  margin-top: 5px;
  color: rgb(187, 187, 187);
}
select {
  background-color: #262424;
  border: none;
  padding: 10px 15px;
  color: white;
  margin: 15px;
}

.dashboard-main {
  border-radius: 16px;
  background-color: #262424;
  width: 500px;
  height: 450px;
  margin: 0px 30px;
}

.filtros-mes {
  display: flex;
  justify-content: left;
}

.secundary-dashboard-container{
    display: flex;
    height: 90px;
    width: 500px;
    gap: 20px;

}

.dash-monetario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
    border-radius: 16px;
    color: white;
    text-align: left;
}

.dash-monetario h1{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.dash-monetario p {
    font-size: 12px;    
    font-weight: lighter;
    opacity: 0.6;
}

.lista-infacoes-container{
    
}
.infacoes-container{

}